In [1]:
!wget https://edu.postgrespro.com/demo-small-en.zip && unzip -o demo-small-en.zip
!psql -a -f  demo-small-en-20170815.sql
!rm demo-small-en.zip demo-small-en-20170815.sql

--2024-11-10 19:53:53--  https://edu.postgrespro.com/demo-small-en.zip
Resolving edu.postgrespro.com (edu.postgrespro.com)... 213.171.56.196
Connecting to edu.postgrespro.com (edu.postgrespro.com)|213.171.56.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22187739 (21M) [application/zip]
Saving to: ‘demo-small-en.zip’

demo-small-en.zip   100%[===================>]  21.16M  89.8MB/s    in 0.2s

2024-11-10 19:53:54 (89.8 MB/s) - ‘demo-small-en.zip’ saved [22187739/22187739]

Archive:  demo-small-en.zip
  inflating: demo-small-en-20170815.sql
--
-- PostgreSQL database dump
--
-- Dumped from database version 9.6.3
-- Dumped by pg_dump version 9.6.3
SET statement_timeout = 0;
SET
SET lock_timeout = 0;
SET
SET idle_in_transaction_session_timeout = 0;
SET
SET client_encoding = 'UTF8';
SET
SET standard_conforming_strings = on;
SET
SET check_function_bodies = false;
SET
SET client_min_messages = warning;
SET
SET row_security = off;
SET
DROP DATABASE demo;
psql:demo-small-en-20170815.sql:17: ERROR:  database "demo" does not exist
--
-- Name: demo; Type: DATABASE; Schema: -; Owner: -
--
CREATE DATABASE demo;
CREATE DATABASE
\connect demo
You are now connected to database "demo" as user "jovyan".
SET statement_timeout = 0;
SET
SET lock_timeout = 0;
SET
SET idle_in_transaction_session_timeout = 0;
SET
SET client_encoding = 'UTF8';
SET
SET standard_conforming_strings = on;
SET
SET check_function_bodies = false;
SET
SET client_min_messages = warning;
SET
SET row_security = off;
SET
--
-- Name: bookings; Type: SCHEMA; Schema: -; Owner: -
--
CREATE SCHEMA bookings;
CREATE SCHEMA
--
-- Name: SCHEMA bookings; Type: COMMENT; Schema: -; Owner: -
--
COMMENT ON SCHEMA bookings IS 'Airlines demo database schema';
COMMENT
--
-- Name: plpgsql; Type: EXTENSION; Schema: -; Owner: -
--
CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;
CREATE EXTENSION
--
-- Name: EXTENSION plpgsql; Type: COMMENT; Schema: -; Owner: -
--
COMMENT ON EXTENSION plpgsql IS 'PL/pgSQL procedural language';
COMMENT
SET search_path = bookings, pg_catalog;
SET
--
-- Name: lang(); Type: FUNCTION; Schema: bookings; Owner: -
--
CREATE FUNCTION lang() RETURNS text
    LANGUAGE plpgsql STABLE
    AS $$
BEGIN
  RETURN current_setting('bookings.lang');
EXCEPTION
  WHEN undefined_object THEN
    RETURN NULL;
END;
$$;
CREATE FUNCTION
--
-- Name: now(); Type: FUNCTION; Schema: bookings; Owner: -
--
CREATE FUNCTION now() RETURNS timestamp with time zone
    LANGUAGE sql IMMUTABLE
    AS $$SELECT '2017-08-15 18:00:00'::TIMESTAMP AT TIME ZONE 'Europe/Moscow';$$;
CREATE FUNCTION
--
-- Name: FUNCTION now(); Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON FUNCTION now() IS 'Point in time according to which the data are generated';
COMMENT
SET default_tablespace = '';
SET
SET default_with_oids = false;
SET
--
-- Name: aircrafts_data; Type: TABLE; Schema: bookings; Owner: -
--
CREATE TABLE aircrafts_data (
    aircraft_code character(3) NOT NULL,
    model jsonb NOT NULL,
    range integer NOT NULL,
    CONSTRAINT aircrafts_range_check CHECK ((range > 0))
);
CREATE TABLE
--
-- Name: TABLE aircrafts_data; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON TABLE aircrafts_data IS 'Aircrafts (internal data)';
COMMENT
--
-- Name: COLUMN aircrafts_data.aircraft_code; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN aircrafts_data.aircraft_code IS 'Aircraft code, IATA';
COMMENT
--
-- Name: COLUMN aircrafts_data.model; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN aircrafts_data.model IS 'Aircraft model';
COMMENT
--
-- Name: COLUMN aircrafts_data.range; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN aircrafts_data.range IS 'Maximal flying distance, km';
COMMENT
--
-- Name: aircrafts; Type: VIEW; Schema: bookings; Owner: -
--
CREATE VIEW aircrafts AS
 SELECT ml.aircraft_code,
    (ml.model ->> lang()) AS model,
    ml.range
   FROM aircrafts_data ml;
CREATE VIEW
--
-- Name: VIEW aircrafts; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON VIEW aircrafts IS 'Aircrafts';
COMMENT
--
-- Name: COLUMN aircrafts.aircraft_code; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN aircrafts.aircraft_code IS 'Aircraft code, IATA';
COMMENT
--
-- Name: COLUMN aircrafts.model; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN aircrafts.model IS 'Aircraft model';
COMMENT
--
-- Name: COLUMN aircrafts.range; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN aircrafts.range IS 'Maximal flying distance, km';
COMMENT
--
-- Name: airports_data; Type: TABLE; Schema: bookings; Owner: -
--
CREATE TABLE airports_data (
    airport_code character(3) NOT NULL,
    airport_name jsonb NOT NULL,
    city jsonb NOT NULL,
    coordinates point NOT NULL,
    timezone text NOT NULL
);
CREATE TABLE
--
-- Name: TABLE airports_data; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON TABLE airports_data IS 'Airports (internal data)';
COMMENT
--
-- Name: COLUMN airports_data.airport_code; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports_data.airport_code IS 'Airport code';
COMMENT
--
-- Name: COLUMN airports_data.airport_name; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports_data.airport_name IS 'Airport name';
COMMENT
--
-- Name: COLUMN airports_data.city; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports_data.city IS 'City';
COMMENT
--
-- Name: COLUMN airports_data.coordinates; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports_data.coordinates IS 'Airport coordinates (longitude and latitude)';
COMMENT
--
-- Name: COLUMN airports_data.timezone; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports_data.timezone IS 'Airport time zone';
COMMENT
--
-- Name: airports; Type: VIEW; Schema: bookings; Owner: -
--
CREATE VIEW airports AS
 SELECT ml.airport_code,
    (ml.airport_name ->> lang()) AS airport_name,
    (ml.city ->> lang()) AS city,
    ml.coordinates,
    ml.timezone
   FROM airports_data ml;
CREATE VIEW
--
-- Name: VIEW airports; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON VIEW airports IS 'Airports';
COMMENT
--
-- Name: COLUMN airports.airport_code; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports.airport_code IS 'Airport code';
COMMENT
--
-- Name: COLUMN airports.airport_name; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports.airport_name IS 'Airport name';
COMMENT
--
-- Name: COLUMN airports.city; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports.city IS 'City';
COMMENT
--
-- Name: COLUMN airports.coordinates; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports.coordinates IS 'Airport coordinates (longitude and latitude)';
COMMENT
--
-- Name: COLUMN airports.timezone; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports.timezone IS 'Airport time zone';
COMMENT
--
-- Name: boarding_passes; Type: TABLE; Schema: bookings; Owner: -
--
CREATE TABLE boarding_passes (
    ticket_no character(13) NOT NULL,
    flight_id integer NOT NULL,
    boarding_no integer NOT NULL,
    seat_no character varying(4) NOT NULL
);
CREATE TABLE
--
-- Name: TABLE boarding_passes; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON TABLE boarding_passes IS 'Boarding passes';
COMMENT
--
-- Name: COLUMN boarding_passes.ticket_no; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN boarding_passes.ticket_no IS 'Ticket number';
COMMENT
--
-- Name: COLUMN boarding_passes.flight_id; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN boarding_passes.flight_id IS 'Flight ID';
COMMENT
--
-- Name: COLUMN boarding_passes.boarding_no; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN boarding_passes.boarding_no IS 'Boarding pass number';
COMMENT
--
-- Name: COLUMN boarding_passes.seat_no; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN boarding_passes.seat_no IS 'Seat number';
COMMENT
--
-- Name: bookings; Type: TABLE; Schema: bookings; Owner: -
--
CREATE TABLE bookings (
    book_ref character(6) NOT NULL,
    book_date timestamp with time zone NOT NULL,
    total_amount numeric(10,2) NOT NULL
);
CREATE TABLE
--
-- Name: TABLE bookings; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON TABLE bookings IS 'Bookings';
COMMENT
--
-- Name: COLUMN bookings.book_ref; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN bookings.book_ref IS 'Booking number';
COMMENT
--
-- Name: COLUMN bookings.book_date; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN bookings.book_date IS 'Booking date';
COMMENT
--
-- Name: COLUMN bookings.total_amount; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN bookings.total_amount IS 'Total booking cost';
COMMENT
--
-- Name: flights; Type: TABLE; Schema: bookings; Owner: -
--
CREATE TABLE flights (
    flight_id integer NOT NULL,
    flight_no character(6) NOT NULL,
    scheduled_departure timestamp with time zone NOT NULL,
    scheduled_arrival timestamp with time zone NOT NULL,
    departure_airport character(3) NOT NULL,
    arrival_airport character(3) NOT NULL,
    status character varying(20) NOT NULL,
    aircraft_code character(3) NOT NULL,
    actual_departure timestamp with time zone,
    actual_arrival timestamp with time zone,
    CONSTRAINT flights_check CHECK ((scheduled_arrival > scheduled_departure)),
    CONSTRAINT flights_check1 CHECK (((actual_arrival IS NULL) OR ((actual_departure IS NOT NULL) AND (actual_arrival IS NOT NULL) AND (actual_arrival > actual_departure)))),
    CONSTRAINT flights_status_check CHECK (((status)::text = ANY (ARRAY[('On Time'::character varying)::text, ('Delayed'::character varying)::text, ('Departed'::character varying)::text, ('Arrived'::character varying)::text, ('Scheduled'::character varying)::text, ('Cancelled'::character varying)::text])))
);
CREATE TABLE
--
-- Name: TABLE flights; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON TABLE flights IS 'Flights';
COMMENT
--
-- Name: COLUMN flights.flight_id; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.flight_id IS 'Flight ID';
COMMENT
--
-- Name: COLUMN flights.flight_no; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.flight_no IS 'Flight number';
COMMENT
--
-- Name: COLUMN flights.scheduled_departure; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.scheduled_departure IS 'Scheduled departure time';
COMMENT
--
-- Name: COLUMN flights.scheduled_arrival; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.scheduled_arrival IS 'Scheduled arrival time';
COMMENT
--
-- Name: COLUMN flights.departure_airport; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.departure_airport IS 'Airport of departure';
COMMENT
--
-- Name: COLUMN flights.arrival_airport; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.arrival_airport IS 'Airport of arrival';
COMMENT
--
-- Name: COLUMN flights.status; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.status IS 'Flight status';
COMMENT
--
-- Name: COLUMN flights.aircraft_code; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.aircraft_code IS 'Aircraft code, IATA';
COMMENT
--
-- Name: COLUMN flights.actual_departure; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.actual_departure IS 'Actual departure time';
COMMENT
--
-- Name: COLUMN flights.actual_arrival; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.actual_arrival IS 'Actual arrival time';
COMMENT
--
-- Name: flights_flight_id_seq; Type: SEQUENCE; Schema: bookings; Owner: -
--
CREATE SEQUENCE flights_flight_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;
CREATE SEQUENCE
--
-- Name: flights_flight_id_seq; Type: SEQUENCE OWNED BY; Schema: bookings; Owner: -
--
ALTER SEQUENCE flights_flight_id_seq OWNED BY flights.flight_id;
ALTER SEQUENCE
--
-- Name: flights_v; Type: VIEW; Schema: bookings; Owner: -
--
CREATE VIEW flights_v AS
 SELECT f.flight_id,
    f.flight_no,
    f.scheduled_departure,
    timezone(dep.timezone, f.scheduled_departure) AS scheduled_departure_local,
    f.scheduled_arrival,
    timezone(arr.timezone, f.scheduled_arrival) AS scheduled_arrival_local,
    (f.scheduled_arrival - f.scheduled_departure) AS scheduled_duration,
    f.departure_airport,
    dep.airport_name AS departure_airport_name,
    dep.city AS departure_city,
    f.arrival_airport,
    arr.airport_name AS arrival_airport_name,
    arr.city AS arrival_city,
    f.status,
    f.aircraft_code,
    f.actual_departure,
    timezone(dep.timezone, f.actual_departure) AS actual_departure_local,
    f.actual_arrival,
    timezone(arr.timezone, f.actual_arrival) AS actual_arrival_local,
    (f.actual_arrival - f.actual_departure) AS actual_duration
   FROM flights f,
    airports dep,
    airports arr
  WHERE ((f.departure_airport = dep.airport_code) AND (f.arrival_airport = arr.airport_code));
CREATE VIEW
--
-- Name: VIEW flights_v; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON VIEW flights_v IS 'Flights (extended)';
COMMENT
--
-- Name: COLUMN flights_v.flight_id; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.flight_id IS 'Flight ID';
COMMENT
--
-- Name: COLUMN flights_v.flight_no; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.flight_no IS 'Flight number';
COMMENT
--
-- Name: COLUMN flights_v.scheduled_departure; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.scheduled_departure IS 'Scheduled departure time';
COMMENT
--
-- Name: COLUMN flights_v.scheduled_departure_local; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.scheduled_departure_local IS 'Scheduled departure time, local time at the point of departure';
COMMENT
--
-- Name: COLUMN flights_v.scheduled_arrival; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.scheduled_arrival IS 'Scheduled arrival time';
COMMENT
--
-- Name: COLUMN flights_v.scheduled_arrival_local; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.scheduled_arrival_local IS 'Scheduled arrival time, local time at the point of destination';
COMMENT
--
-- Name: COLUMN flights_v.scheduled_duration; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.scheduled_duration IS 'Scheduled flight duration';
COMMENT
--
-- Name: COLUMN flights_v.departure_airport; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.departure_airport IS 'Deprature airport code';
COMMENT
--
-- Name: COLUMN flights_v.departure_airport_name; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.departure_airport_name IS 'Departure airport name';
COMMENT
--
-- Name: COLUMN flights_v.departure_city; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.departure_city IS 'City of departure';
COMMENT
--
-- Name: COLUMN flights_v.arrival_airport; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.arrival_airport IS 'Arrival airport code';
COMMENT
--
-- Name: COLUMN flights_v.arrival_airport_name; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.arrival_airport_name IS 'Arrival airport name';
COMMENT
--
-- Name: COLUMN flights_v.arrival_city; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.arrival_city IS 'City of arrival';
COMMENT
--
-- Name: COLUMN flights_v.status; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.status IS 'Flight status';
COMMENT
--
-- Name: COLUMN flights_v.aircraft_code; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.aircraft_code IS 'Aircraft code, IATA';
COMMENT
--
-- Name: COLUMN flights_v.actual_departure; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.actual_departure IS 'Actual departure time';
COMMENT
--
-- Name: COLUMN flights_v.actual_departure_local; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.actual_departure_local IS 'Actual departure time, local time at the point of departure';
COMMENT
--
-- Name: COLUMN flights_v.actual_arrival; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.actual_arrival IS 'Actual arrival time';
COMMENT
--
-- Name: COLUMN flights_v.actual_arrival_local; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.actual_arrival_local IS 'Actual arrival time, local time at the point of destination';
COMMENT
--
-- Name: COLUMN flights_v.actual_duration; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.actual_duration IS 'Actual flight duration';
COMMENT
--
-- Name: routes; Type: VIEW; Schema: bookings; Owner: -
--
CREATE VIEW routes AS
 WITH f3 AS (
         SELECT f2.flight_no,
            f2.departure_airport,
            f2.arrival_airport,
            f2.aircraft_code,
            f2.duration,
            array_agg(f2.days_of_week) AS days_of_week
           FROM ( SELECT f1.flight_no,
                    f1.departure_airport,
                    f1.arrival_airport,
                    f1.aircraft_code,
                    f1.duration,
                    f1.days_of_week
                   FROM ( SELECT flights.flight_no,
                            flights.departure_airport,
                            flights.arrival_airport,
                            flights.aircraft_code,
                            (flights.scheduled_arrival - flights.scheduled_departure) AS duration,
                            (to_char(flights.scheduled_departure, 'ID'::text))::integer AS days_of_week
                           FROM flights) f1
                  GROUP BY f1.flight_no, f1.departure_airport, f1.arrival_airport, f1.aircraft_code, f1.duration, f1.days_of_week
                  ORDER BY f1.flight_no, f1.departure_airport, f1.arrival_airport, f1.aircraft_code, f1.duration, f1.days_of_week) f2
          GROUP BY f2.flight_no, f2.departure_airport, f2.arrival_airport, f2.aircraft_code, f2.duration
        )
 SELECT f3.flight_no,
    f3.departure_airport,
    dep.airport_name AS departure_airport_name,
    dep.city AS departure_city,
    f3.arrival_airport,
    arr.airport_name AS arrival_airport_name,
    arr.city AS arrival_city,
    f3.aircraft_code,
    f3.duration,
    f3.days_of_week
   FROM f3,
    airports dep,
    airports arr
  WHERE ((f3.departure_airport = dep.airport_code) AND (f3.arrival_airport = arr.airport_code));
CREATE VIEW
--
-- Name: VIEW routes; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON VIEW routes IS 'Routes';
COMMENT
--
-- Name: COLUMN routes.flight_no; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN routes.flight_no IS 'Flight number';
COMMENT
--
-- Name: COLUMN routes.departure_airport; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN routes.departure_airport IS 'Code of airport of departure';
COMMENT
--
-- Name: COLUMN routes.departure_airport_name; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN routes.departure_airport_name IS 'Name of airport of departure';
COMMENT
--
-- Name: COLUMN routes.departure_city; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN routes.departure_city IS 'City of departure';
COMMENT
--
-- Name: COLUMN routes.arrival_airport; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN routes.arrival_airport IS 'Code of airport of arrival';
COMMENT
--
-- Name: COLUMN routes.arrival_airport_name; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN routes.arrival_airport_name IS 'Name of airport of arrival';
COMMENT
--
-- Name: COLUMN routes.arrival_city; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN routes.arrival_city IS 'City of arrival';
COMMENT
--

In [2]:
%load_ext sql
%sql postgresql://reader:Miba2021@10.129.0.25:5432/demo

1. Output a list of tickets, where number of flights>3
To make it faster, use LIMIT 1000 or something like that.

In [6]:
%%sql
SELECT tickets.ticket_no,
       COUNT(ticket_flights.flight_id) AS total_flights
FROM tickets
JOIN ticket_flights ON tickets.ticket_no = ticket_flights.ticket_no
GROUP BY tickets.ticket_no
HAVING COUNT(ticket_flights.flight_id) > 3
ORDER BY total_flights DESC
LIMIT 1000;

 * postgresql://reader:***@10.129.0.25:5432/demo
1000 rows affected.

[('0005432369525', 6),
 ('0005432370013', 6),
 ('0005432369269', 6),
 ('0005432369524', 6),
 ('0005432369780', 6),
 ('0005432370012', 6),
 ('0005432369141', 6),
 ('0005432369268', 6),
 ('0005432369396', 6),
 ('0005432369523', 6),
 ('0005432369652', 6),
 ('0005432369779', 6),
 ('0005432369907', 6),
 ('0005432370011', 6),
 ('0005432369077', 6),
 ('0005432369140', 6),
 ('0005432369204', 6),
 ('0005432369267', 6),
 ('0005432369332', 6),
 ('0005432369395', 6),
 ('0005432369459', 6),
 ('0005432369522', 6),
 ('0005432369588', 6),
 ('0005432369651', 6),
 ('0005432369715', 6),
 ('0005432369778', 6),
 ('0005432369843', 6),
 ('0005432369906', 6),
 ('0005432369970', 6),
 ('0005432370010', 6),
 ('0005432369045', 6),
 ('0005432369076', 6),
 ('0005432369108', 6),
 ('0005432369139', 6),
 ('0005432369172', 6),
 ('0005432369203', 6),
 ('0005432369235', 6),
 ('0005432369266', 6),
 ('0005432369300', 6),
 ('0005432369331', 6),
 ('0005432369363', 6),
 ('0005432369394', 6),
 ('0005432369427', 6),
 ('0005432369458', 6),
 ('0005432369490', 6),
 ('0005432369521', 6),
 ('0005432369556', 6),
 ('0005432369587', 6),
 ('0005432369619', 6),
 ('0005432369650', 6),
 ('0005432369683', 6),
 ('0005432369714', 6),
 ('0005432369746', 6),
 ('0005432369777', 6),
 ('0005432369811', 6),
 ('0005432369842', 6),
 ('0005432369874', 6),
 ('0005432369905', 6),
 ('0005432369938', 6),
 ('0005432369969', 6),
 ('0005432369994', 6),
 ('0005432370009', 6),
 ('0005432369029', 6),
 ('0005432369044', 6),
 ('0005432369060', 6),
 ('0005432369075', 6),
 ('0005432369092', 6),
 ('0005432369107', 6),
 ('0005432369123', 6),
 ('0005432369138', 6),
 ('0005432369156', 6),
 ('0005432369171', 6),
 ('0005432369187', 6),
 ('0005432369202', 6),
 ('0005432369219', 6),
 ('0005432369234', 6),
 ('0005432369250', 6),
 ('0005432369265', 6),
 ('0005432369284', 6),
 ('0005432369299', 6),
 ('0005432369315', 6),
 ('0005432369330', 6),
 ('0005432369347', 6),
 ('0005432369362', 6),
 ('0005432369378', 6),
 ('0005432369393', 6),
 ('0005432369411', 6),
 ('0005432369426', 6),
 ('0005432369442', 6),
 ('0005432369457', 6),
 ('0005432369474', 6),
 ('0005432369489', 6),
 ('0005432369505', 6),
 ('0005432369520', 6),
 ('0005432369540', 6),
 ('0005432369555', 6),
 ('0005432369571', 6),
 ('0005432369586', 6),
 ('0005432369603', 6),
 ('0005432369618', 6),
 ('0005432369634', 6),
 ('0005432369649', 6),
 ('0005432369667', 6),
 ('0005432369682', 6),
 ('0005432369698', 6),
 ('0005432369713', 6),
 ('0005432369730', 6),
 ('0005432369745', 6),
 ('0005432369761', 6),
 ('0005432369776', 6),
 ('0005432369795', 6),
 ('0005432369810', 6),
 ('0005432369826', 6),
 ('0005432369841', 6),
 ('0005432369858', 6),
 ('0005432369873', 6),
 ('0005432369889', 6),
 ('0005432369904', 6),
 ('0005432369922', 6),
 ('0005432369937', 6),
 ('0005432369953', 6),
 ('0005432369968', 6),
 ('0005432369985', 6),
 ('0005432369993', 6),
 ('0005432370001', 6),
 ('0005432370008', 6),
 ('0005432369021', 6),
 ('0005432369028', 6),
 ('0005432369036', 6),
 ('0005432369043', 6),
 ('0005432369052', 6),
 ('0005432369059', 6),
 ('0005432369067', 6),
 ('0005432369074', 6),
 ('0005432369084', 6),
 ('0005432369091', 6),
 ('0005432369099', 6),
 ('0005432369106', 6),
 ('0005432369115', 6),
 ('0005432369122', 6),
 ('0005432369130', 6),
 ('0005432369137', 6),
 ('0005432369148', 6),
 ('0005432369155', 6),
 ('0005432369163', 6),
 ('0005432369170', 6),
 ('0005432369179', 6),
 ('0005432369186', 6),
 ('0005432369194', 6),
 ('0005432369201', 6),
 ('0005432369211', 6),
 ('0005432369218', 6),
 ('0005432369226', 6),
 ('0005432369233', 6),
 ('0005432369242', 6),
 ('0005432369249', 6),
 ('0005432369257', 6),
 ('0005432369264', 6),
 ('0005432369276', 6),
 ('0005432369283', 6),
 ('0005432369291', 6),
 ('0005432369298', 6),
 ('0005432369307', 6),
 ('0005432369314', 6),
 ('0005432369322', 6),
 ('0005432369329', 6),
 ('0005432369339', 6),
 ('0005432369346', 6),
 ('0005432369354', 6),
 ('0005432369361', 6),
 ('0005432369370', 6),
 ('0005432369377', 6),
 ('0005432369385', 6),
 ('0005432369392', 6),
 ('0005432369403', 6),
 ('0005432369410', 6),
 ('0005432369418', 6),
 ('0005432369425', 6),
 ('0005432369434', 6),
 ('0005432369441', 6),
 ('0005432369449', 6),
 ('0005432369456', 6),
 ('0005432369466', 6),
 ('0005432369473', 6),
 ('0005432369481', 6),
 ('0005432369488', 6),
 ('0005432369497', 6),
 ('0005432369504', 6),
 ('0005432369512', 6),
 ('0005432369519', 6),
 ('0005432369532', 6),
 ('0005432369539', 6),
 ('0005432369547', 6),
 ('0005432369554', 6),
 ('0005432369563', 6),
 ('0005432369570', 6),
 ('0005432369578', 6),
 ('0005432369585', 6),
 ('0005432369595', 6),
 ('0005432369602', 6),
 ('0005432369610', 6),
 ('0005432369617', 6),
 ('0005432369626', 6),
 ('0005432369633', 6),
 ('0005432369641', 6),
 ('0005432369648', 6),
 ('0005432369659', 6),
 ('0005432369666', 6),
 ('0005432369674', 6),
 ('0005432369681', 6),
 ('0005432369690', 6),
 ('0005432369697', 6),
 ('0005432369705', 6),
 ('0005432369712', 6),
 ('0005432369722', 6),
 ('0005432369729', 6),
 ('0005432369737', 6),
 ('0005432369744', 6),
 ('0005432369753', 6),
 ('0005432369760', 6),
 ('0005432369768', 6),
 ('0005432369775', 6),
 ('0005432369787', 6),
 ('0005432369794', 6),
 ('0005432369802', 6),
 ('0005432369809', 6),
 ('0005432369818', 6),
 ('0005432369825', 6),
 ('0005432369833', 6),
 ('0005432369840', 6),
 ('0005432369850', 6),
 ('0005432369857', 6),
 ('0005432369865', 6),
 ('0005432369872', 6),
 ('0005432369881', 6),
 ('0005432369888', 6),
 ('0005432369896', 6),
 ('0005432369903', 6),
 ('0005432369914', 6),
 ('0005432369921', 6),
 ('0005432369929', 6),
 ('0005432369936', 6),
 ('0005432369945', 6),
 ('0005432369952', 6),
 ('0005432369960', 6),
 ('0005432369967', 6),
 ('0005432369977', 6),
 ('0005432369984', 6),
 ('0005432369989', 6),
 ('0005432369992', 6),
 ('0005432369997', 6),
 ('0005432370000', 6),
 ('0005432370004', 6),
 ('0005432370007', 6),
 ('0005432369017', 6),
 ('0005432369020', 6),
 ('0005432369024', 6),
 ('0005432369027', 6),
 ('0005432369032', 6),
 ('0005432369035', 6),
 ('0005432369039', 6),
 ('0005432369042', 6),
 ('0005432369048', 6),
 ('0005432369051', 6),
 ('0005432369055', 6),
 ('0005432369058', 6),
 ('0005432369063', 6),
 ('0005432369066', 6),
 ('0005432369070', 6),
 ('0005432369073', 6),
 ('0005432369080', 6),
 ('0005432369083', 6),
 ('0005432369087', 6),
 ('0005432369090', 6),
 ('0005432369095', 6),
 ('0005432369098', 6),
 ('0005432369102', 6),
 ('0005432369105', 6),
 ('0005432369111', 6),
 ('0005432369114', 6),
 ('0005432369118', 6),
 ('0005432369121', 6),
 ('0005432369126', 6),
 ('0005432369129', 6),
 ('0005432369133', 6),
 ('0005432369136', 6),
 ('0005432369144', 6),
 ('0005432369147', 6),
 ('0005432369151', 6),
 ('0005432369154', 6),
 ('0005432369159', 6),
 ('0005432369162', 6),
 ('0005432369166', 6),
 ('0005432369169', 6),
 ('0005432369175', 6),
 ('0005432369178', 6),
 ('0005432369182', 6),
 ('0005432369185', 6),
 ('0005432369190', 6),
 ('0005432369193', 6),
 ('0005432369197', 6),
 ('0005432369200', 6),
 ('0005432369207', 6),
 ('0005432369210', 6),
 ('0005432369214', 6),
 ('0005432369217', 6),
 ('0005432369222', 6),
 ('0005432369225', 6),
 ('0005432369229', 6),
 ('0005432369232', 6),
 ('0005432369238', 6),
 ('0005432369241', 6),
 ('0005432369245', 6),
 ('0005432369248', 6),
 ('0005432369253', 6),
 ('0005432369256', 6),
 ('0005432369260', 6),
 ('0005432369263', 6),
 ('0005432369272', 6),
 ('0005432369275', 6),
 ('0005432369279', 6),
 ('0005432369282', 6),
 ('0005432369287', 6),
 ('0005432369290', 6),
 ('0005432369294', 6),
 ('0005432369297', 6),
 ('0005432369303', 6),
 ('0005432369306', 6),
 ('0005432369310', 6),
 ('0005432369313', 6),
 ('0005432369318', 6),
 ('0005432369321', 6),
 ('0005432369325', 6),
 ('0005432369328', 6),
 ('0005432369335', 6),
 ('0005432369338', 6),
 ('0005432369342', 6),
 ('0005432369345', 6),
 ('0005432369350', 6),
 ('0005432369353', 6),
 ('0005432369357', 6),
 ('0005432369360', 6),
 ('0005432369366', 6),
 ('0005432369369', 6),
 ('0005432369373', 6),
 ('0005432369376', 6),
 ('0005432369381', 6),
 ('0005432369384', 6),
 ('0005432369388', 6),
 ('0005432369391', 6),
 ('0005432369399', 6),
 ('0005432369402', 6),
 ('0005432369406', 6),
 ('0005432369409', 6),
 ('0005432369414', 6),
 ('0005432369417', 6),
 ('0005432369421', 6),
 ('0005432369424', 6),
 ('0005432369430', 6),
 ('0005432369433', 6),
 ('0005432369437', 6),
 ('0005432369440', 6),
 ('0005432369445', 6),
 ('0005432369448', 6),
 ('0005432369452', 6),
 ('0005432369455', 6),
 ('0005432369462', 6),
 ('0005432369465', 6),
 ('0005432369469', 6),
 ('0005432369472', 6),
 ('0005432369477', 6),
 ('0005432369480', 6),
 ('0005432369484', 6),
 ('0005432369487', 6),
 ('0005432369493', 6),
 ('0005432369496', 6),
 ('0005432369500', 6),
 ('0005432369503', 6),
 ('0005432369508', 6),
 ('0005432369511', 6),
 ('0005432369515', 6),
 ('0005432369518', 6),
 ('0005432369528', 6),
 ('0005432369531', 6),
 ('0005432369535', 6),
 ('0005432369538', 6),
 ('0005432369543', 6),
 ('0005432369546', 6),
 ('0005432369550', 6),
 ('0005432369553', 6),
 ('0005432369559', 6),
 ('0005432369562', 6),
 ('0005432369566', 6),
 ('0005432369569', 6),
 ('0005432369574', 6),
 ('0005432369577', 6),
 ('0005432369581', 6),
 ('0005432369584', 6),
 ('0005432369591', 6),
 ('0005432369594', 6),
 ('0005432369598', 6),
 ('0005432369601', 6),
 ('0005432369606', 6),
 ('0005432369609', 6),
 ('0005432369613', 6),
 ('0005432369616', 6),
 ('0005432369622', 6),
 ('0005432369625', 6),
 ('0005432369629', 6),
 ('0005432369632', 6),
 ('0005432369637', 6),
 ('0005432369640', 6),
 ('0005432369644', 6),
 ('0005432369647', 6),
 ('0005432369655', 6),
 ('0005432369658', 6),
 ('0005432369662', 6),
 ('0005432369665', 6),
 ('0005432369670', 6),
 ('0005432369673', 6),
 ('0005432369677', 6),
 ('0005432369680', 6),
 ('0005432369686', 6),
 ('0005432369689', 6),
 ('0005432369693', 6),
 ('0005432369696', 6),
 ('0005432369701', 6),
 ('0005432369704', 6),
 ('0005432369708', 6),
 ('0005432369711', 6),
 ('0005432369718', 6),
 ('0005432369721', 6),
 ('0005432369725', 6),
 ('0005432369728', 6),
 ('0005432369733', 6),
 ('0005432369736', 6),
 ('0005432369740', 6),
 ('0005432369743', 6),
 ('0005432369749', 6),
 ('0005432369752', 6),
 ('0005432369756', 6),
 ('0005432369759', 6),
 ('0005432369764', 6),
 ('0005432369767', 6),
 ('0005432369771', 6),
 ('0005432369774', 6),
 ('0005432369783', 6),
 ('0005432369786', 6),
 ('0005432369790', 6),
 ('0005432369793', 6),
 ('0005432369798', 6),
 ('0005432369801', 6),
 ('0005432369805', 6),
 ('0005432369808', 6),
 ('0005432369814', 6),
 ('0005432369817', 6),
 ('0005432369821', 6),
 ('0005432369824', 6),
 ('0005432369829', 6),
 ('0005432369832', 6),
 ('0005432369836', 6),
 ('0005432369839', 6),
 ('0005432369846', 6),
 ('0005432369849', 6),
 ('0005432369853', 6),
 ('0005432369856', 6),
 ('0005432369861', 6),
 ('0005432369864', 6),
 ('0005432369868', 6),
 ('0005432369871', 6),
 ('0005432369877', 6),
 ('0005432369880', 6),
 ('0005432369884', 6),
 ('0005432369887', 6),
 ('0005432369892', 6),
 ('0005432369895', 6),
 ('0005432369899', 6),
 ('0005432369902', 6),
 ('0005432369910', 6),
 ('0005432369913', 6),
 ('0005432369917', 6),
 ('0005432369920', 6),
 ('0005432369925', 6),
 ('0005432369928', 6),
 ('0005432369932', 6),
 ('0005432369935', 6),
 ('0005432369941', 6),
 ('0005432369944', 6),
 ('0005432369948', 6),
 ('0005432369951', 6),
 ('0005432369956', 6),
 ('0005432369959', 6),
 ('0005432369963', 6),
 ('0005432369966', 6),
 ('0005432369973', 6),
 ('0005432369976', 6),
 ('0005432369980', 6),
 ('0005432369983', 6),
 ('0005432369987', 6),
 ('0005432369988', 6),
 ('0005432369990', 6),
 ('0005432369991', 6),
 ('0005432369995', 6),
 ('0005432369996', 6),
 ('0005432369998', 6),
 ('0005432369999', 6),
 ('0005432370002', 6),
 ('0005432370003', 6),
 ('0005432370005', 6),
 ('0005432370006', 6),
 ('0005432369015', 6),
 ('0005432369016', 6),
 ('0005432369018', 6),
 ('0005432369019', 6),
 ('0005432369022', 6),
 ('0005432369023', 6),
 ('0005432369025', 6),
 ('0005432369026', 6),
 ('0005432369030', 6),
 ('0005432369031', 6),
 ('0005432369033', 6),
 ('0005432369034', 6),
 ('0005432369037', 6),
 ('0005432369038', 6),
 ('0005432369040', 6),
 ('0005432369041', 6),
 ('0005432369046', 6),
 ('0005432369047', 6),
 ('0005432369049', 6),
 ('0005432369050', 6),
 ('0005432369053', 6),
 ('0005432369054', 6),
 ('0005432369056', 6),
 ('0005432369057', 6),
 ('0005432369061', 6),
 ('0005432369062', 6),
 ('0005432369064', 6),
 ('0005432369065', 6),
 ('0005432369068', 6),
 ('0005432369069', 6),
 ('0005432369071', 6),
 ('0005432369072', 6),
 ('0005432369078', 6),
 ('0005432369079', 6),
 ('0005432369081', 6),
 ('0005432369082', 6),
 ('0005432369085', 6),
 ('0005432369086', 6),
 ('0005432369088', 6),
 ('0005432369089', 6),
 ('0005432369093', 6),
 ('0005432369094', 6),
 ('0005432369096', 6),
 ('0005432369097', 6),
 ('0005432369100', 6),
 ('0005432369101', 6),
 ('0005432369103', 6),
 ('0005432369104', 6),
 ('0005432369109', 6),
 ('0005432369110', 6),
 ('0005432369112', 6),
 ('0005432369113', 6),
 ('0005432369116', 6),
 ('0005432369117', 6),
 ('0005432369119', 6),
 ('0005432369120', 6),
 ('0005432369124', 6),
 ('0005432369125', 6),
 ('0005432369127', 6),
 ('0005432369128', 6),
 ('0005432369131', 6),
 ('0005432369132', 6),
 ('0005432369134', 6),
 ('0005432369135', 6),
 ('0005432369142', 6),
 ('0005432369143', 6),
 ('0005432369145', 6),
 ('0005432369146', 6),
 ('0005432369149', 6),
 ('0005432369150', 6),
 ('0005432369152', 6),
 ('0005432369153', 6),
 ('0005432369157', 6),
 ('0005432369158', 6),
 ('0005432369160', 6),
 ('0005432369161', 6),
 ('0005432369164', 6),
 ('0005432369165', 6),
 ('0005432369167', 6),
 ('0005432369168', 6),
 ('0005432369173', 6),
 ('0005432369174', 6),
 ('0005432369176', 6),
 ('0005432369177', 6),
 ('0005432369180', 6),
 ('0005432369181', 6),
 ('0005432369183', 6),
 ('0005432369184', 6),
 ('0005432369188', 6),
 ('0005432369189', 6),
 ('0005432369191', 6),
 ('0005432369192', 6),
 ('0005432369195', 6),
 ('0005432369196', 6),
 ('0005432369198', 6),
 ('0005432369199', 6),
 ('0005432369205', 6),
 ('0005432369206', 6),
 ('0005432369208', 6),
 ('0005432369209', 6),
 ('0005432369212', 6),
 ('0005432369213', 6),
 ('0005432369215', 6),
 ('0005432369216', 6),
 ('0005432369220', 6),
 ('0005432369221', 6),
 ('0005432369223', 6),
 ('0005432369224', 6),
 ('0005432369227', 6),
 ('0005432369228', 6),
 ('0005432369230', 6),
 ('0005432369231', 6),
 ('0005432369236', 6),
 ('0005432369237', 6),
 ('0005432369239', 6),
 ('0005432369240', 6),
 ('0005432369243', 6),
 ('0005432369244', 6),
 ('0005432369246', 6),
 ('0005432369247', 6),
 ('0005432369251', 6),
 ('0005432369252', 6),
 ('0005432369254', 6),
 ('0005432369255', 6),
 ('0005432369258', 6),
 ('0005432369259', 6),
 ('0005432369261', 6),
 ('0005432369262', 6),
 ('0005432369270', 6),
 ('0005432369271', 6),
 ('0005432369273', 6),
 ('0005432369274', 6),
 ('0005432369277', 6),
 ('0005432369278', 6),
 ('0005432369280', 6),
 ('0005432369281', 6),
 ('0005432369285', 6),
 ('0005432369286', 6),
 ('0005432369288', 6),
 ('0005432369289', 6),
 ('0005432369292', 6),
 ('0005432369293', 6),
 ('0005432369295', 6),
 ('0005432369296', 6),
 ('0005432369301', 6),
 ('0005432369302', 6),
 ('0005432369304', 6),
 ('0005432369305', 6),
 ('0005432369308', 6),
 ('0005432369309', 6),
 ('0005432369311', 6),
 ('0005432369312', 6),
 ('0005432369316', 6),
 ('0005432369317', 6),
 ('0005432369319', 6),
 ('0005432369320', 6),
 ('0005432369323', 6),
 ('0005432369324', 6),
 ('0005432369326', 6),
 ('0005432369327', 6),
 ('0005432369333', 6),
 ('0005432369334', 6),
 ('0005432369336', 6),
 ('0005432369337', 6),
 ('0005432369340', 6),
 ('0005432369341', 6),
 ('0005432369343', 6),
 ('0005432369344', 6),
 ('0005432369348', 6),
 ('0005432369349', 6),
 ('0005432369351', 6),
 ('0005432369352', 6),
 ('0005432369355', 6),
 ('0005432369356', 6),
 ('0005432369358', 6),
 ('0005432369359', 6),
 ('0005432369364', 6),
 ('0005432369365', 6),
 ('0005432369367', 6),
 ('0005432369368', 6),
 ('0005432369371', 6),
 ('0005432369372', 6),
 ('0005432369374', 6),
 ('0005432369375', 6),
 ('0005432369379', 6),
 ('0005432369380', 6),
 ('0005432369382', 6),
 ('0005432369383', 6),
 ('0005432369386', 6),
 ('0005432369387', 6),
 ('0005432369389', 6),
 ('0005432369390', 6),
 ('0005432369397', 6),
 ('0005432369398', 6),
 ('0005432369400', 6),
 ('0005432369401', 6),
 ('0005432369404', 6),
 ('0005432369405', 6),
 ('0005432369407', 6),
 ('0005432369408', 6),
 ('0005432369412', 6),
 ('0005432369413', 6),
 ('0005432369415', 6),
 ('0005432369416', 6),
 ('0005432369419', 6),
 ('0005432369420', 6),
 ('0005432369422', 6),
 ('0005432369423', 6),
 ('0005432369428', 6),
 ('0005432369429', 6),
 ('0005432369431', 6),
 ('0005432369432', 6),
 ('0005432369435', 6),
 ('0005432369436', 6),
 ('0005432369438', 6),
 ('0005432369439', 6),
 ('0005432369443', 6),
 ('0005432369444', 6),
 ('0005432369446', 6),
 ('0005432369447', 6),
 ('0005432369450', 6),
 ('0005432369451', 6),
 ('0005432369453', 6),
 ('0005432369454', 6),
 ('0005432369460', 6),
 ('0005432369461', 6),
 ('0005432369463', 6),
 ('0005432369464', 6),
 ('0005432369467', 6),
 ('0005432369468', 6),
 ('0005432369470', 6),
 ('0005432369471', 6),
 ('0005432369475', 6),
 ('0005432369476', 6),
 ('0005432369478', 6),
 ('0005432369479', 6),
 ('0005432369482', 6),
 ('0005432369483', 6),
 ('0005432369485', 6),
 ('0005432369486', 6),
 ('0005432369491', 6),
 ('0005432369492', 6),
 ('0005432369494', 6),
 ('0005432369495', 6),
 ('0005432369498', 6),
 ('0005432369499', 6),
 ('0005432369501', 6),
 ('0005432369502', 6),
 ('0005432369506', 6),
 ('0005432369507', 6),
 ('0005432369509', 6),
 ('0005432369510', 6),
 ('0005432369513', 6),
 ('0005432369514', 6),
 ('0005432369516', 6),
 ('0005432369517', 6),
 ('0005432369526', 6),
 ('0005432369527', 6),
 ('0005432369529', 6),
 ('0005432369530', 6),
 ('0005432369533', 6),
 ('0005432369534', 6),
 ('0005432369536', 6),
 ('0005432369537', 6),
 ('0005432369541', 6),
 ('0005432369542', 6),
 ('0005432369544', 6),
 ('0005432369545', 6),
 ('0005432369548', 6),
 ('0005432369549', 6),
 ('0005432369551', 6),
 ('0005432369552', 6),
 ('0005432369557', 6),
 ('0005432369558', 6),
 ('0005432369560', 6),
 ('0005432369561', 6),
 ('0005432369564', 6),
 ('0005432369565', 6),
 ('0005432369567', 6),
 ('0005432369568', 6),
 ('0005432369572', 6),
 ('0005432369573', 6),
 ('0005432369575', 6),
 ('0005432369576', 6),
 ('0005432369579', 6),
 ('0005432369580', 6),
 ('0005432369582', 6),
 ('0005432369583', 6),
 ('0005432369589', 6),
 ('0005432369590', 6),
 ('0005432369592', 6),
 ('0005432369593', 6),
 ('0005432369596', 6),
 ('0005432369597', 6),
 ('0005432369599', 6),
 ('0005432369600', 6),
 ('0005432369604', 6),
 ('0005432369605', 6),
 ('0005432369607', 6),
 ('0005432369608', 6),
 ('0005432369611', 6),
 ('0005432369612', 6),
 ('0005432369614', 6),
 ('0005432369615', 6),
 ('0005432369620', 6),
 ('0005432369621', 6),
 ('0005432369623', 6),
 ('0005432369624', 6),
 ('0005432369627', 6),
 ('0005432369628', 6),
 ('0005432369630', 6),
 ('0005432369631', 6),
 ('0005432369635', 6),
 ('0005432369636', 6),
 ('0005432369638', 6),
 ('0005432369639', 6),
 ('0005432369642', 6),
 ('0005432369643', 6),
 ('0005432369645', 6),
 ('0005432369646', 6),
 ('0005432369653', 6),
 ('0005432369654', 6),
 ('0005432369656', 6),
 ('0005432369657', 6),
 ('0005432369660', 6),
 ('0005432369661', 6),
 ('0005432369663', 6),
 ('0005432369664', 6),
 ('0005432369668', 6),
 ('0005432369669', 6),
 ('0005432369671', 6),
 ('0005432369672', 6),
 ('0005432369675', 6),
 ('0005432369676', 6),
 ('0005432369678', 6),
 ('0005432369679', 6),
 ('0005432369684', 6),
 ('0005432369685', 6),
 ('0005432369687', 6),
 ('0005432369688', 6),
 ('0005432369691', 6),
 ('0005432369692', 6),
 ('0005432369694', 6),
 ('0005432369695', 6),
 ('0005432369699', 6),
 ('0005432369700', 6),
 ('0005432369702', 6),
 ('0005432369703', 6),
 ('0005432369706', 6),
 ('0005432369707', 6),
 ('0005432369709', 6),
 ('0005432369710', 6),
 ('0005432369716', 6),
 ('0005432369717', 6),
 ('0005432369719', 6),
 ('0005432369720', 6),
 ('0005432369723', 6),
 ('0005432369724', 6),
 ('0005432369726', 6),

The output is sorted in descending order by the total number of flights, meaning tickets with the highest number of flights appear at the top. LIMIT 1000 clause helps keep the output manageable and focused on the tickets with a significant number of flights

2. Output a total number of tickets which have exactly 5 flights. Just one number, nothing else.

In [11]:
%%sql
SELECT COUNT(*) AS total_tickets_with_five_flights
FROM (
    SELECT ticket_no
    FROM ticket_flights
    GROUP BY ticket_no
    HAVING COUNT(flight_id) = 5
) AS tickets_with_five_flights;

 * postgresql://reader:***@10.129.0.25:5432/demo
1 rows affected.

[(54,)]

Result shows that there are 54 tickets with exactly five flights each.

This result was obtained by:
Grouping tickets by their unique ticket number
Filtering for groups (tickets) that have exactly five associated flights using the HAVING COUNT(flight_id) = 5 condition
Counting the number of such tickets to return a single summary value